@import '~antd/dist/antd.css';
.App {
  margin: 8px;
}

#root{
  height: 100%;
  width: 100%;
}

ul{
  list-style-type: none;
  padding-left:0;
}

.hidden{
  display: none;
}

.gray{
  background-color: rgba(0,0,0,0.2);
}

/* login */
.login{
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width:200px;
  height: 300px;
  text-align: center;
}

.login .forgetLink{
  float: left;
}

.login .registerLink{
  float: right;
}

.login button{
  width:100%;
}

.login input{
  width:100%;
  margin: 2px 0;
}
/* regiter */
.register{
  margin: auto;
  width: 200px;
  margin-top: 10em;
  text-align: center;
}

.register input{
  margin-bottom: 5px;
}

.register button{
  width: 100px;
}

/* forget */
.forgetPage{
  width: 400px;
  margin: 10px;
}

.forgetPage input{
  width: 240px;
}

/* FoodCart.js */
.foodMBox{
  width:240px;
  height: 120px;
  padding-top: 8px;
  position: relative;
  overflow: hidden;
}

.foodMBox footer{
  right: 0;
  left: 110px;
  position: absolute;
  bottom: 5px;
  font-size: 1.5em;
}

.foodMBox .counter{
  float: right;
}

.foodMBox .counter span{
  width: 1.5em;
  display: inline-block;
  text-align: center;
}

.foodMBox img{
  width:100px;
  height:100px;
  margin:5px;
  float: left;
  object-fit: cover;
}

.foodWindow{
  height: 100%;
  display: flex;
  padding: 8px;
  padding-bottom: 48px;
}

.foodWindow aside{
  width: 20%;
  padding:5px;
}

.foodWindow main{
  width: 80%;
  padding:5px;
  overflow: scroll;
}

.clearCart{
  float: right;
  font-size: 1.2em;
}

.ShoppingCart{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.ShoppingCart .submit{
  float: right;
}
.ShoppingCart footer{
  padding: 8px;
  background-color: rgb(0,0,0,0.5);
  /* background-color: #1890ff; */
}

.shoppingList{
  width: 100%;
  padding: 5px;
  background-color: #fff;
  /* background-color: rgb(0,0,0,0.2); */
  /* background-color: rgb(24,144,255,0.8); */
}

.shoppingList table{
  width: 100%;
}

/* FoodManage.css */
.foodManage{
  margin:10px;
}
.foodManage .foodMBox{
  height: 100%;
}

.changeFoodPage li input{
  width: 80%;
}

/* DeskManage */
.QRcodeBox{
  text-align: center;
  width: 240px;
  height: 240px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 5px;
  margin: auto;
  border: solid 2px;
  background-color: white;
}

.QRcodeBox img{
  margin:12px auto 15px;
  width: 150px;
  height: 150px;
  display: block;
}
.show-area-title{
  border-bottom: 1px solid #e8e8e8;
  padding: 5px;
  height: 30px;
  text-indent: 2em;
}
.show-area-content{
  width: 100%;
  position: absolute;
  bottom: 0;
  top: 30px;
}
.show-area-content aside{
  position: absolute;
  left:0;
  bottom: 0;
  top: 0;
}
.show-area-content main{
  margin-left: 150px;
}