.LandingPage{
  text-align: center;
  height: 100%;
}
.LandingPage .active{
  color: red;
}
.LandingPage .custom-count {
  width: 200px;
  margin: 10px auto;
  cursor: pointer;
}
.LandingPage .custom-count li{
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border: 2px solid;
  border-radius: 0.2em;
}
.LandingPageBox{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}